.header___nav {
  display: flex;
  /* flex-direction: row; */
  /* overflow: hidden; */
  padding: 0px;
  height: 5vh;
  
}

.header___logo {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: flex-start;
  
}

.header___logo-overlay {
  position: absolute;
  inset: 0;
  background: #b1454a;
  z-index: 1;
}
.header___logo h3 {
  padding-left: 10px;
  padding-top: 8px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header___menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header___menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
/* .header___menu p {
   color: red;
   margin: 20px;
   border-color: black;
    border-style: solid;
   padding: 14px;
    } */
.header___menu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.header___menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center; 
  justify-content : flex-end;
  gap: 64px;
  list-style: none;
  display: none;
}
